.token {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    border: 2px solid blue;
    position: fixed;
}

#boardContainer {
    display: grid;
    grid-template-columns: 3.82vh repeat(7, 10.22vh);
    grid-template-rows: 3.82vh repeat(7, 10.22vh);
    height: 72vh;
    width: 72vh;
    margin-left: 20vh;
    background-image: url(./board.png);
    background-size: contain;
}

.boardNode {
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
    background-color: rgba(158, 21, 170, 0.377);
}